[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pyodbc = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "==4.1.3"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
