[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pyodbc = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
bcrypt = "==4.0.1"
alembic = "*"
imagekitio = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
