[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"] }
pyodbc = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"] }
python-jose = {extras = ["cryptography"] }
bcrypt = "==4.0.1"
alembic = "*"
imagekitio = "*"
sqlmodel = "*"
timescaledb = "*"
faker = "*"
graphene = "*"
starlette-graphene3 = "*"
langchain = "*"
langchain-openai = "*"
psycopg = {extras = ["binary"], version = "*"}
promise = "==2.3"
graphql-core = "<3.3,>=3.2"
graphql-relay = "<4,>=3"
isort = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"

[pipenv]
allow_prereleases = true
